body {
  background-color: hsl(30, 38%, 92%);
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

h1 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 10%;
}

h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.75rem;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.3rem;
  margin-bottom: 9%;
}

h3 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  margin-right: 18px;
  margin-bottom: 0;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.875rem;
  color: hsl(228, 12%, 48%);
  line-height: 1.65;
  margin-bottom: 11%;
}

span {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.875rem;
  color: hsl(228, 12%, 48%);
}

i {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: hsl(158, 36%, 37%);
}

/* Container */

.container-fluid {
  width: 600px;
  height: 450px;
}

/* IMG Box */

.img-box {
  padding-right: 0;
  padding-left: 0;
}

.img-1 {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.img-2 {
  display: none;
  width: 100%;
}


/* TEXT Box */

.text-box {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
  padding: 5.5% 5% 4% 5.5%;
}

/* Price */

.pricing {
  display: flex;
  align-items: center;
  margin-bottom: 11%;
}

.real-price {
  text-decoration: line-through;
}

.btn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: hsl(158, 36%, 37%);
  height: 48px;
  padding-top: 13px;
}

.btn:hover {
  color: #fff;
  background-color: hsl(158, 36%, 20%);
}

/* Attribution */

.attribution {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.7rem;
  margin-top: 8%;
}

/* Media */

@media (max-width: 575px) {

  h1 {
    margin-bottom: 5.5%;
  }

  h2 {
    margin-bottom: 4.5%;
  }
  
   p {
    margin-bottom: 6.5%;
  }
 
  /* Container Media */
  
  .container-fluid {
    width: 343px;
    height: 611px;
    margin: 0 3%;
  }
  
  /* IMG Box Media */
  
  .img-2 {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  
   .img-1 {
    display: none;
  }


  /* TEXT Box Media */
  
  .text-box {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7.3% 7% 7%;
  }

  /* Price Media */
  
  .pricing {
    margin-bottom: 6%;
  }

}
